body {
  animation-name: bg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bg {
  0%   {background-color: black;}
  100% {background-color: white;}
}

@keyframes text {
  0%   {color: white;}
  100% {color: black;}
}

h6 {
  font-family: roboto thin;
  text-align: center;
  margin-top: -50px;
  font-size: 25px;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#twitch {
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    font-family: roboto thin;
}

#twitter {
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    font-family: roboto thin;
}

#youtube {
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    font-family: roboto thin;
}

#discord {
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    font-family: roboto thin;
