body {
  animation-name: bg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h1 {
  font-family: roboto thin;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
  font-size: 70px;
  transition: all 0.2s
}
  
h1:hover {
  transform: rotate(5deg);
  font-size: 80px;
}

@keyframes bg {
  0%   {background-color: black;}
  100% {background-color: white;}
}

@keyframes text {
  0%   {color: white;}
  100% {color: black;}
}

#social a {
    animation-name: text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 35px;
    font-family: roboto thin;
    margin-bottom: 20px;
}
#youtube:hover {
  font-size: 50px;
}
#twitch:hover {
  font-size: 50px;
}
#twitter:hover {
  font-size: 50px;
}
#discord:hover {
  font-size: 50px;
}
