body {
   background-color: white;
   overflow: 0;
}

* { 
   transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); 
}

#screen_overlay {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 650px;
    height: 550px;
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 0 50px 0 50px;
}
h1 {
  color: white;
  font-family: roboto thin;
  text-align: center;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 30px;
  
}
  
h1:hover {
  transform: rotate(4deg);
  font-size: 80px;
}
#social {
    text-align: center;
    display: block;
    margin: 10px auto;
    margin-left: -1%;
    margin-inherit: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 20px;
}
p {
    font-family: roboto thin;
    font-size: 25px;
    color: white;
    margin-top: -24px;
}
p:hover {
  font-size: 35px;
}
a {
  text-decoration: none;
}
#knop {
    text-align: center;
    display: inline-block;
    margin: 10px auto;
    margin-left: 31%;
    margin-inherit: 15px;
    margin-top: -10px;
    margin-bottom: 15px;
}
#buttons {   
    border: 2px solid white;
    padding: 10px 20px;
    font-family: roboto thin;
    font-size: 25px;
    color: white;
    text-decoration: none;
 }
 #buttons:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
